adf/pipeline/pl_ingest_emr_metadata.json
{
  "name": "pl_ingest_emr_metadata",
  "properties": {
    "description": "Metadata-driven EMR ingestion (v2). Lookup configs.csv -> filter active -> ForEach (datasource+table): Get Metadata checks the bronze hospital folder; if files exist, archive them to archive/<table>/<hospital>/yyyy/MM/dd. FULL loads then clear the folder and reload all rows (snapshot replace); INCREMENTAL loads keep bronze and append only rows between the last audit watermark and the current source max (no data loss). Every load is logged via sp_log_load. Bronze is partitioned per hospital: bronze/<targetpath>/<datasource>/.",
    "activities": [
      {
        "name": "Lookup_Config",
        "type": "Lookup",
        "typeProperties": {
          "source": { "type": "DelimitedTextSource", "storeSettings": { "type": "AzureBlobFSReadSettings", "recursive": false }, "formatSettings": { "type": "DelimitedTextReadSettings" } },
          "dataset": { "referenceName": "ds_configs", "type": "DatasetReference" },
          "firstRowOnly": false
        }
      },
      {
        "name": "Filter_Active",
        "type": "Filter",
        "dependsOn": [{ "activity": "Lookup_Config", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "items": { "value": "@activity('Lookup_Config').output.value", "type": "Expression" },
          "condition": { "value": "@equals(item().is_active, '1')", "type": "Expression" }
        }
      },
      {
        "name": "ForEach_Entry",
        "type": "ForEach",
        "dependsOn": [{ "activity": "Filter_Active", "dependencyConditions": ["Succeeded"] }],
        "typeProperties": {
          "items": { "value": "@activity('Filter_Active').output.value", "type": "Expression" },
          "isSequential": true,
          "activities": [
            {
              "name": "Check_Bronze_Folder",
              "type": "GetMetadata",
              "typeProperties": {
                "dataset": {
                  "referenceName": "ds_bronze_folder",
                  "type": "DatasetReference",
                  "parameters": { "folderPath": { "value": "@concat(item().targetpath, '/', item().datasource)", "type": "Expression" } }
                },
                "fieldList": ["exists"],
                "storeSettings": { "type": "AzureBlobFSReadSettings", "recursive": false, "enablePartitionDiscovery": false },
                "formatSettings": { "type": "BinaryReadSettings" }
              }
            },
            {
              "name": "If_Files_Exist_Archive",
              "type": "IfCondition",
              "dependsOn": [{ "activity": "Check_Bronze_Folder", "dependencyConditions": ["Succeeded"] }],
              "typeProperties": {
                "expression": { "value": "@activity('Check_Bronze_Folder').output.exists", "type": "Expression" },
                "ifTrueActivities": [
                  {
                    "name": "Archive_Existing",
                    "type": "Copy",
                    "typeProperties": {
                      "source": { "type": "BinarySource", "storeSettings": { "type": "AzureBlobFSReadSettings", "recursive": true } },
                      "sink": { "type": "BinarySink", "storeSettings": { "type": "AzureBlobFSWriteSettings" } }
                    },
                    "inputs": [{ "referenceName": "ds_bronze_folder", "type": "DatasetReference", "parameters": { "folderPath": { "value": "@concat(item().targetpath, '/', item().datasource)", "type": "Expression" } } }],
                    "outputs": [{ "referenceName": "ds_archive_folder", "type": "DatasetReference", "parameters": { "folderPath": { "value": "@concat(item().targetpath, '/', item().datasource, '/', formatDateTime(utcnow(),'yyyy'), '/', formatDateTime(utcnow(),'MM'), '/', formatDateTime(utcnow(),'dd'))", "type": "Expression" } } }]
                  }
                ]
              }
            },
            {
              "name": "If_Full_Clear_Bronze",
              "type": "IfCondition",
              "dependsOn": [{ "activity": "If_Files_Exist_Archive", "dependencyConditions": ["Succeeded"] }],
              "description": "Only FULL loads clear bronze (snapshot replace) after archiving. Incremental loads keep bronze and append.",
              "typeProperties": {
                "expression": { "value": "@and(activity('Check_Bronze_Folder').output.exists, equals(item().loadtype, 'full'))", "type": "Expression" },
                "ifTrueActivities": [
                  {
                    "name": "Delete_Old_Bronze",
                    "type": "Delete",
                    "typeProperties": {
                      "dataset": { "referenceName": "ds_bronze_folder", "type": "DatasetReference", "parameters": { "folderPath": { "value": "@concat(item().targetpath, '/', item().datasource)", "type": "Expression" } } },
                      "enableLogging": false,
                      "storeSettings": { "type": "AzureBlobFSReadSettings", "recursive": true }
                    }
                  }
                ]
              }
            },
            {
              "name": "Get_Old_Watermark",
              "type": "Lookup",
              "dependsOn": [{ "activity": "If_Full_Clear_Bronze", "dependencyConditions": ["Succeeded"] }],
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderQuery": { "value": "@concat('SELECT ISNULL(MAX(last_watermark_value),''1900-01-01T00:00:00'') AS last_wm FROM dbo.audit_log WHERE status=''success'' AND datasource=''', item().datasource, ''' AND tablename=''', item().tablename, '''')", "type": "Expression" }
                },
                "dataset": { "referenceName": "ds_azuresql_generic", "type": "DatasetReference", "parameters": { "tableName": "audit_log" } },
                "firstRowOnly": true
              }
            },
            {
              "name": "Get_New_Watermark",
              "type": "Lookup",
              "dependsOn": [{ "activity": "If_Full_Clear_Bronze", "dependencyConditions": ["Succeeded"] }],
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderQuery": { "value": "@if(equals(item().loadtype,'incremental'), concat('SELECT ISNULL(MAX(', item().watermark, '),''1900-01-01T00:00:00'') AS new_wm FROM dbo.', item().tablename, ' WHERE hospital_id=''', item().datasource, ''''), 'SELECT ''1900-01-01T00:00:00'' AS new_wm')", "type": "Expression" }
                },
                "dataset": { "referenceName": "ds_azuresql_generic", "type": "DatasetReference", "parameters": { "tableName": { "value": "@item().tablename", "type": "Expression" } } },
                "firstRowOnly": true
              }
            },
            {
              "name": "Copy_To_Bronze",
              "type": "Copy",
              "dependsOn": [
                { "activity": "Get_Old_Watermark", "dependencyConditions": ["Succeeded"] },
                { "activity": "Get_New_Watermark", "dependencyConditions": ["Succeeded"] }
              ],
              "policy": { "timeout": "0.02:00:00", "retry": 1 },
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderQuery": { "value": "@if(equals(item().loadtype,'incremental'), concat('SELECT * FROM dbo.', item().tablename, ' WHERE hospital_id=''', item().datasource, ''' AND ', item().watermark, ' > ''', activity('Get_Old_Watermark').output.firstRow.last_wm, ''' AND ', item().watermark, ' <= ''', activity('Get_New_Watermark').output.firstRow.new_wm, ''''), concat('SELECT * FROM dbo.', item().tablename, ' WHERE hospital_id=''', item().datasource, ''''))", "type": "Expression" }
                },
                "sink": { "type": "ParquetSink", "storeSettings": { "type": "AzureBlobFSWriteSettings" } }
              },
              "inputs": [{ "referenceName": "ds_azuresql_generic", "type": "DatasetReference", "parameters": { "tableName": { "value": "@item().tablename", "type": "Expression" } } }],
              "outputs": [{ "referenceName": "ds_bronze_parquet_generic", "type": "DatasetReference", "parameters": { "targetPath": { "value": "@concat(item().targetpath, '/', item().datasource)", "type": "Expression" } } }]
            },
            {
              "name": "Log_Audit",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [{ "activity": "Copy_To_Bronze", "dependencyConditions": ["Succeeded"] }],
              "linkedServiceName": { "referenceName": "ls_azuresql_emr", "type": "LinkedServiceReference" },
              "typeProperties": {
                "storedProcedureName": "dbo.sp_log_load",
                "storedProcedureParameters": {
                  "pipeline_name": { "value": "pl_ingest_emr_metadata", "type": "String" },
                  "datasource": { "value": { "value": "@item().datasource", "type": "Expression" }, "type": "String" },
                  "tablename": { "value": { "value": "@item().tablename", "type": "Expression" }, "type": "String" },
                  "load_type": { "value": { "value": "@item().loadtype", "type": "Expression" }, "type": "String" },
                  "watermark_column": { "value": { "value": "@item().watermark", "type": "Expression" }, "type": "String" },
                  "last_watermark_value": { "value": { "value": "@if(equals(item().loadtype,'incremental'), activity('Get_New_Watermark').output.firstRow.new_wm, '')", "type": "Expression" }, "type": "String" },
                  "rows_written": { "value": { "value": "@activity('Copy_To_Bronze').output.rowsCopied", "type": "Expression" }, "type": "Int64" },
                  "status": { "value": "success", "type": "String" }
                }
              }
            }
          ]
        }
      }
    ],
    "annotations": ["phase-2", "metadata-driven", "bronze", "archive", "incremental"]
  }
}
